%%-*- mode: erlang -*-
[{erli_worker, [{flag_limit, 15},
		    {unmanaged, true},
		    {thumbnail_placeholder, <<"placeholder.jpeg">>},
		    {default_collection_offset, 25},
		    {cors_whitelist, "http://localhost:9000"},
		    {max_collection_offset, 50}]},
 {webmachine, [{log_handlers,
		[{webmachine_access_log_handler, ["log"]}]},
	       {error_handler, erli_worker_err_handler},
	       {ip, "0.0.0.0"},
	       {port, 8000}]}].
