%%-*- mode: erlang -*-
[{erli_api, [{flag_limit, 15},
	     {thumbnail_placeholder, <<"placeholder.jpeg">>},
	     {default_collection_offset, 25},
	     {cors_whitelist, "http://localhost:9000"},
	     {max_collection_offset, 50}]},
 {webmachine, [{log_handlers,
		[{webmachine_log_handler, ["log"]},
		 {webmachine_perf_log_handler, ["log"]}]},
	       {error_handler, erli_api_worker_err_handler},
	       {ip, "0.0.0.0"},
	       {port, 8000}]}].
